body {
  background: #1a1a1a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  width: 80px;
  height: 120px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red { background: #e74c3c; }
.green { background: #2ecc71; }
.blue { background: #3498db; }
.yellow { background: #f1c40f; color:black; }
.black { background: black; }

#playerCards .card {
  cursor: pointer;
  margin: 5px;
  display: inline-flex;
}
