body {
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
}

button {
  padding:12px 20px;
  margin:8px;
  font-size:16px;
  border-radius:8px;
  border:none;
  cursor:pointer;
}

.hide { display:none; }
